.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
/bin/
.classpath
.project
/.settings
/eclipse/
/run
api_404.zip
GregTech4.api.iml
GregTech4.iml
GregTech4.ipr
GregTech4.iws
GregTech4.main.iml
GregTech4.test.iml
